{% extends "layout.html" %}

{% block content %}

    <h1>Fetch transaction data from the banks</h1>
    <form method="POST" action="/data/fetch" enctype="multipart/form-data">

        <h2>From folder...</h2>
        <input type="submit" id="import_statement_button" name="import_statement_button"
               value="Import statement .csv file">
        from -> <label> {{ path_to_fetch_data_from }}</label>
        <h2>From the banks...</h2>
        <h3>HSBC</h3>
        <p>Not implemented</p>
        <h3>Monzo</h3>
        <input type="submit" id="auth_monzo_button" name="auth_monzo_button" value="Authenticate in Monzo Bank">
        <label> -> {{ auth_message }}</label>
        <br>
        <input type="submit" id="fetch_data_from_bank_button" name="fetch_data_from_bank_button"
               value="Fetch data from Bank">
        <label> {{ monzo_fetch_bank_data_message }}</label>
        <br>
        <h3>Revolut</h3>
        <p>Not implemented</p>
    </form>


{% endblock content %}