*.csv
/misc/statements/
/misc/notebooks/
/clipboard.py
/misc/reports_history/

/datasets/*
!/tests/test_datasets/test_statements_and_tags/
!/tests/test_datasets/test_statements_and_tags/**
!/datasets/test_statements_and_tags/**/*.csv
/creds/
/.env
/.idea/
mecon.egg-info

/TODO.md
example_path
/templates/
/static/
settings.json
!/tests/test_datasets/test_statements_and_tags/settings.json
/misc/misc_scripts/
/misc/
/todo.txt
/.env.monzo
/services/main_shiny/clipboard.py
/services/main_shiny/monzo.json
/env/
