{% extends "layout.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <form method="POST">
      <label for="tag_name">Tag name</label>
      <input type="text" id="tag_name" name="tag_name_input" value="{{ tag_name }}" {% if not rename_flag %} disabled {% endif %}>

        {% if rename_button_flag %}
          <input type="submit" name="rename" value="Rename">
        {% endif %}
    <br><br>
        <label for="query_text">Tag JSON</label> <i style="color:Tomato;">{{ message_text }}</i> <br>
      <textarea id="query_text" name="query_text_input" rows="10" cols="150">{{ tag_json_str }}</textarea><br><br>
      <input type="submit" name="refresh" value="Refresh">
      <input type="submit" name="reset" value="Reset">
      <input type="submit" name="save" value="Save">
{#      <a href={{ url_for('main.home') }} ><button>Back</button></a></a>#}
    </form>
    {% if table_html is not none %}
        <h1>Table for "{{ tag_name }}" tag ({{ number_of_rows }} rows)</h1>
        {{ table_html|safe }}
    {% endif %}

{% endblock content %}