{% extends "layout.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <form method="POST">
      <label for="tag_name">Tag name</label>
      <input type="text" id="tag_name" name="tag_name_input" value="{{ tag_name }}" {% if not rename_flag %} disabled {% endif %}>

        {% if rename_button_flag %}
          <input type="submit" name="rename" value="Rename">
        {% endif %}
    <br><br>

    {% if not create_flag %}
        <a href={{ url_for('reports.tag_info', tag_name=tag_name) }}>Report</a>
    {% endif %}

    <br><br>

        <label for="query_text">Tag JSON</label> <i style="color:Tomato;">{{ message_text }}</i> <br>
      <textarea id="query_text" name="query_text_input" rows="10" cols="150">{{ tag_json_str }}</textarea><br><br>
      <input type="submit" name="refresh" value="Refresh">
      <input type="submit" name="reset" value="Reset">
      <input type="submit" name="save" value="Save">
      <input type="submit" name="save_and_close" value="Save & Back">
      {% if delete_button %}
        {% if not confirm_delete %}
        <input type="submit" name="delete" value="Delete">
          {% else %}
            <input type="submit" name="confirm_delete" value="Are you sure?!">
          {% endif %}
      {% endif %}
{#      <a href={{ url_for('main.home') }} ><button>Back</button></a></a>#}
    </form>

{#    tabs   #}
    <br><br>
    <style>
    /* Style the tab buttons */
    .tab {
      overflow: hidden;
      background-color: #f1f1f1;
    }

    /* Style the tab button container */
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 10px 20px;
      transition: 0.3s;
    }

    /* Change background color of the active tab button */
    .tab button.active {
      background-color: #ccc; /* Color for the active tab */
    }

    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 20px;
    }
    </style>


    <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'Tab1')">Tagged</button>
      <button class="tablinks" onclick="openTab(event, 'Tab2')">Untagged</button>
    </div>

    <div id="Tab1" class="tabcontent">
      {% if tagged_table_html is not none %}
        <h1>Table for "{{ tag_name }}" tag ({{ number_of_rows }} rows)</h1>
        {{ tagged_table_html | safe }}
      {% endif %}
    </div>

    <div id="Tab2" class="tabcontent">
      {% if untagged_table_html is not none %}
        <h1>Untagged rows</h1>
        {{ untagged_table_html | safe }}
      {% endif %}
    </div>

    <script>
    function openTab(evt, tabName) {
      var i, tabcontent, tablinks;

      // Hide all tab content
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }

      // Remove active class from tab buttons
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      // Show the selected tab content and mark the button as active
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
    }

    // Open the first tab by default
    document.getElementById("Tab1").style.display = "block";
    </script>


{% endblock content %}