{% extends "layout.html" %}

{% block content %}

    <h1>Data</h1>

    <h2>Statements</h2>
    {% for bank_key in menu_dict %}
        <li>{{ bank_key }}</li>
       {% for statement_filepath, statement_filename in menu_dict[bank_key] %}
            <ul>
                <li><a href={{url_for('data.datafile_view', path=statement_filepath)}}>{{ statement_filename }}</a></li>
            </ul>
       {% endfor %}
    {% endfor %}

    <form method="POST" action="/data/import" enctype="multipart/form-data">
      <h2>Load bank statement</h2>
      <label for="file_input">Path:</label>
      <input type="text" id="filepath_input" name="filepath_input" size="50">
      <input type="button" id="browse_button" value="Browse" disabled>
      <input type="submit" id="filepath_load_button" value="Load Path">
      <input type="file" id="file_input" name="file_input" style="display: none;">
    </form>

    <script>
      document.getElementById('browse_button').addEventListener('click', function() {
        document.getElementById('file_input').click();
      });

      document.getElementById('file_input').addEventListener('change', function(event) {
        const filename = event.target.files[0].name;
        document.getElementById('filepath_input').value = filename;
      });
    </script>
{% endblock content %}