{% extends "layout.html" %}

{% block content %}
    <h1>Edit a tag</h1>
    <form method="POST">
      <label for="tag_name">Tag name</label>
      <input type="text" id="tag_name" name="tag_name_input" value={{ tag_name }}><br><br>
      <label for="query_text">Query JSON</label>
      <textarea id="query_text" name="query_text_input" rows="4" cols="50">{{ tag_json_str }}</textarea><br><br>
      <a href={url_for('edit_query_get', tag_name='new_tag', tag_json_str='[{}]')}><input type="button" value="Reset"></a>
      <input type="submit" value="Refresh">
    </form>
    <h1>Table for {{ tag_name }}, {{ number_of_rows }} rows</h1>
    {{ table|safe }}
{% endblock content %}