{% extends "layout.html" %}

{% block content %}

    <h1>Tags</h1>

    <h3>Create new tag</h3>
    <form method="POST">
        <label for="tag_name">Tag name</label>
        <input type="text" id="tag_name" name="tag_name_input">
        <input type="submit" name="create_tag_button" value="Create">
        <i style="color:Tomato;">{{ create_tag_error }}</i>
    </form>

    <h3>Existing tags</h3>
    {% if all_tags is string %}
        {{ all_tags }}
    {% else %}
        <div>
            <style>
                li {
                    float: left;
                    width: 20%;
                }
            </style>
            <ul>
                {% for tag in all_tags %}
                    <li>
                        <a href={{ url_for('reports.tag_info', tag_name=tag['name']) }}>
                            {{ tag['name'] }}
                        </a>
                        {% if 'n_rows' in tag %}
                            [{{ tag['n_rows'] }}]
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
    <br>

        </div>

    {% endif %}
    <br>
    <br>
    <h3>.</h3>
    <form method="POST">
        <input type="submit" name="recalculate_tags" value="Recalculate tags">
    </form>
    <form method="POST">
        <input type="submit" name="reset_tags" value="Reset tags" disabled>
        <h3 style="color:Tomato;"> (WARNING: it will delete all the saved tags)</h3>
    </form>

{% endblock content %}